body {
    background-color:whitesmoke;
    text-align: center;
    font-family: Marker Felt, fantasy;
}

h1 {
    color: black;
    font-family: Marker Felt, fantasy;
}

.movie-list-entry {
    text-transform: capitalize;
    border-style: solid;
    border-width: 1px;
    padding: 5px 20px;
    margin: 0px 30%;
    padding: 20px;
    text-align: left;
}

.search-bar {
    margin-bottom: 15px;
}

.add-bar {
    margin-bottom: 15px;
}

#default_statement {
    text-align: center;
}

/* #buttonWatched {
    background-color: lightgreen;
}

#buttonToWatch {
    background-color: lightgreen;
} */

.watchbutton {
    float: right;
}